* {
    margin: 0;
    padding: 0;
}

/* todolist标签为块状显示 */
label {
    display: block;
}
/* 按钮 */
button {
    cursor: pointer;
}
.login {
    height: 200px;
    width: 100%;
    position: fixed;
    color: #ffffff;
    line-height: 200px;
}
/* 抽签系统字体 */
#l1 {
    color: darkturquoise;
    font-size: 55px;
    text-align: center;
    z-index: 0;
    position: center;
}
.z1{
    left:33%;
    top:300px;
    position: fixed;
}
#l2 {
    font-family: 'Microsoft YaHei';
    line-height: 1em;
    color: #eb4c4c;
    font-weight:bold;
    font-size: 100px;
    text-shadow:0px 0px 0 rgb(186,27,27),1px 1px 0 rgb(174,15,15),2px 2px 0 rgb(161,2,2),3px 3px 0 rgb(149,-10,-10),4px 4px 0 rgb(136,-23,-23),5px 5px 0 rgb(123,-36,-36),6px 6px 0 rgb(111,-48,-48),7px 7px 0 rgb(98,-61,-61), 8px 8px 0 rgb(85,-74,-74),9px 9px 8px rgba(0,0,0,0),9px 9px 1px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,.2);
}
#b1{
    /* 矩形 5 */
    position: absolute;
    width: 216px;
    height: 84px;
    left: 45%;
    right: 200px;
    top: 500px;
    bottom: 78px;
    font-size: 28px;
    background: rgb(255, 255, 255);
}

#b2{
    /* 矩形 5 */
    width: 50px;
    height: 30px;
    left: 5%;
    top: 20px;
    font-size: 20px;
    background: rgb(255, 255, 255);
}

.z2{
    left:30%;
    top:300px;
    position: fixed;

}
