* {
    margin: 0;
    padding: 0;
}
/* todolist标签为块状显示 */
label {
    display: block;
}
/* 按钮 */
button {
    cursor: pointer;
}
.login {
    height: 200px;
    width: 100%;
    position: fixed;
    color: aliceblue;
    line-height: 200px;
    z-index: 2;
}
/* 抽签系统字体 */
#l1 {
    color: darkturquoise;
    font-size: 55px;
    text-align: center;
    z-index: 1;
    position: center;
}
#i1 {
    position: fixed;
    left:32%;
    top: 200px;
    width: 710px;
    height: 90px;
    text-align: center;
    z-index: 1;
    font-size: 30px;
}
#b1{
    /* 矩形 5 */
    position: absolute;
    width: 216px;
    height: 84px;
    left: 35%;
    right: 200px;
    top: 500px;
    bottom: 78px;
    font-size: 28px;
    background: rgb(255, 255, 255);
}
#b2{
    /* 矩形 5 */
    position: absolute;
    width: 216px;
    height: 84px;
    left: 55%;
    right: 200px;
    top: 500px;
    bottom: 78px;
    font-size: 28px;
    background: rgb(255, 255, 255);
}